RewriteEngine on
RewriteCond $1 !^(index\.php|images|assets|css|\.css|js|img|favicon\.ico|robots\.txt)
RewriteRule ^(.*)$ index.php?/$1 [L]

#Musa serveri
#RewriteRule ^(.*)$ /project/legal_tax/index.php?/$1 [L]